* {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.container {
  padding-top: 20px;
  max-width: 95%;
  height: 100vh;
  max-height: 100%;
}

header {
  text-align: center;
  font-size: 35px;
  background-image: linear-gradient(to right, #3b6cc1, #250758);
  color: white;
  font-weight: bolder;
}

/* search */
.search-header {
  font-size: 35px;
  font-weight: bolder;
}

.search-bar {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid gray;
}

.search-button {
  background-color: #5aa2e9;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 55px;
}

.search-button:hover {
  color: #5aa2e9;
  background-color: white;
  border: 1px solid #5aa2e9;
  border-radius: 5px;
  transition: 300ms;
  margin: 8px 0;
}

.search-button:active {
  transition: 0ms;
  color: white;
  background-color: #5aa2e9;
}

button:hover {
  outline: auto;
}

button:focus {
  outline: none;
}

button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 8px 0;
  background-color: #b8b4b4;
}

.seperator {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

/* today's weather */
.weather-box {
  border: 1px solid black;
  height: 40vh;
}

.weather-box .nav {
  max-height: 30vh;
}

.city,
.weather-icon {
  font-size: 30px;
  margin: 0 5px;
  font-weight: bold;
}

.condition {
  margin: 10px 5px;
}

.uv-color {
  padding: 2px 7px;
  border-radius: 5px;
}

/* daily forecasts */

.fcast-header {
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
}

.forecast {
  background-color: #6d81a8;
  margin: 0 10px;
  border: 1px solid black;
  height: inherit;
  min-height: 33vh;
  width: 100%;
  color: white;
}

.forecast h1 {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}

.forecast div {
  font-size: 45px;
}

.forecast li {
  list-style: none;
  margin: 5px 0;
}

/* uv index indicator */
.low {
  background-color: green;
  color: white;
}

.moderate {
  background-color: orange;
  color: white;
}

.high {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .weather-box {
    height: 50vh;
  }

  .forecast {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 990px) {
  .quick-searches {
    display: none;
  }
}
